<div class="container">
  <div class="row mt-5">
    <div class="col-sm-4">
      <h3>Add Widget</h3>
    </div>
    <div class="col-sm-8">
      <div class="input-group input-city">
        <input class="form-control "type="text" #userInput placeholder="Please enter the city">
        <button class="btn btn-success btn-lg btn-seqone">Add Widget </button>
      </div>
    </div>
  </div>
  
</div>



