<section class="vh-25 card-widget mt-2 " style="background-color: #5ed4a7;">
  <div class="container py-5 h-100">

     <!-- Search box -->

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="input-group search-section">
          <input class="form-control "type="text" #userInput placeholder="Please enter the city">
          <button class="btn btn-success btn-seqone" (click)="getCity(userInput.value)"> Search </button>
        </div>

        <!-- Loader -->
        <ng-http-loader></ng-http-loader>

        <!-- Widget -->

        <div *ngIf="isShown" class="card " style="color: #4B515D; border-radius: 35px;">
          <div class="card-body p-4">
            <div class="d-flex">
              <h6 class="flex-grow-1"> {{weather.name}}</h6>
              <h6>{{ currentTime | date:'HH:mm:ss'}}</h6>
            </div>

            <div class="d-flex flex-column text-center mt-5 mb-4">
              <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{ weather.main.temp | number: '1.0-0' }}&deg;C </h6>
              <span class="small" style="color: #868B94">{{ weather.main.description }}</span>
            </div>

            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem;">
                <div><i class="fa-solid fa-wind" style="color: #868B94;"></i> <span class="ms-1"> {{ weather.wind.speed }} km/h </span></div>
                <div><i class="fa-solid fa-droplet" style="color: #868B94;"></i> <span class="ms-1"> {{ weather.main.humidity }} % </span></div>
              </div>
              <div>
                <span class="temp"><img src="assets/icons/{{ weather.weather[0].icon}}.png" alt=""></span>
                <p class="text-uppercase font-italic font-weight-bold">{{ weather.weather[0].description }}</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>