<div class="container">
  <div class="row text-center">
      <h1 class="color-seqone">Seqone Weather Widget </h1>
      <div class="justify-content-center">
        <button 
          class="btn btn-lg btn-outline-success m-1 btn-seqone"
          [routerLink]="['weather-widget']"> Widget </button>
        <button 
          class="btn btn-lg btn-outline-danger m-1" 
          [routerLink]="['option-widget']"> Option </button>
      </div>
      <router-outlet></router-outlet>
     
      
    </div>
</div>