@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');


.btn-seqone {
  background-color: #0b4157;
  color: #fff;
}

.color-seqone {
  color: #0b4157;
  font-family: 'Quicksand', sans-serif;
}